body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0f19;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    color: aliceblue;
    padding: 15px; 
}

.container {
    width: 100%;
    max-width: 390px; 
    background: #111827;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(19, 131, 251, 0.6);
}

.container h2 {
    color: white;
    margin-bottom: 5px;
    font-size: 22px;
}

.container p {
    color: #9ca3af;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.input-box input {
    width: 90%;
    padding: 10px 40px 15px 10px; 
    border-radius: 10px;
    border: none;
    outline: none;
    background: #1f2937;
    color: white;
}

.eye {
    position: absolute;
    right: 2px;
    top: 25px;
    cursor: pointer;
    font-size: 16px;
    color: #cbd5e1;
}

button {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #2691ae, #0072ff);
    color: white;
    font-size: 17px;
    cursor: pointer;
}
.top {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 17px;
}

.top a {
    color: #3b82f6;
    text-decoration: none;
    margin-left: 10px;
}

style{
    @media (max-width: 480px) {
    body {
        align-items: flex-start;
        padding-top: 40px;
    }

    .container {
        padding: 20px;
        border-radius: 15px;
    }

    .container h1 {
        font-size: 20px;
    }

    .container p {
        font-size: 13px;
    }

    .input-box input {
        padding: 9px 38px 9px 9px;
        font-size: 13px;
    }

    .eye {
        top: 32px;
        font-size: 14px;
    }

    button {
        padding: 11px;
        font-size: 14px;
    }
}
}


    
